#hero {

   img {
      @include size(100% auto);
      margin: 60px auto 0;

      @include maxwidth(740px){
         width: 60%
      }
      @include maxwidth(520px){
         width: 50%
      }
   }

   hgroup {
      text-align: center;

      h3 {
         margin-top: 12px;
      }

      p {
         margin-top: 12px;
         color: $lso-lightergray;
         text-align: inherit
      }
   }

}

footer {
   background: $lso-darkergray;

   .col-x {
      width: 120px
   }

   a {
      display: block;
      margin: 50px 0;

      img {
         @include size(100% auto)
      }
   }
}
