#hero {
   padding: 60px 0 90px;

   img {
      @include size(100% auto);
      margin: 0 auto;

      @include phonePor {
         width: 50%
      }
   }

   hgroup {
      text-align: center;

      h1 {

         @include phoneLan {
            font-size: 2em
         };
      }

      h3 {
         margin-top: 12px;
      }

      p {
         margin-top: 12px;
         color: $lso-lightergray
      }
   }

}

#content {
   padding: 0 0 90px;
   text-align: justify;

}

footer {
   background: $lso-darkergray;

   .col-x {
      width: 120px
   }

   a {
      display: block;
      margin: 50px 0;

      img {
         @include size(100% auto)
      }
   }
}
