pre code, .highlight { background-color: hsl(216, 13%, 15%); color: hsl(216, 13%, 84%) }

p code { background-color: hsl(216, 13%, 86%); color: hsl(216, 13%, 25%) }

.highlight .o { font-weight: bold } // Operator

// Comments

.highlight .c, // Comment
.highlight .cm, // Comment.Multiline
.highlight .c1 { color: hsl(216, 13%, 35%); font-style: italic } // Comment.Single
.highlight .cp { color: hsl(216, 13%, 70%) } // Comment.Preproc
.highlight .cs { color: hsl(216, 13%, 35%); font-weight: bold; font-style: italic } // Comment.Special


// Errors

.highlight .err { color: hsl(355, 90%, 60%); background-color: hsl(355, 90%, 90%) } // Error


// Generics

.highlight .gd { color: hsl(216, 13%, 10%); background-color: hsl(355, 90%, 90%) } // Generic.Deleted
.highlight .gd .x { color: hsl(216, 13%, 10%); background-color: hsl(355, 90%, 82%) } // Generic.Deleted.Specific
.highlight .ge { font-style: italic } // Generic.Emph
.highlight .gr { color: hsl(355, 90%, 60%) } // Generic.Error
.highlight .gh { color: hsl(216, 13%, 22%) } // Generic.Heading
.highlight .gi { color: hsl(216, 13%, 10%); background-color: hsl(110,72%,90%) } // Generic.Inserted
.highlight .gi .x { color: hsl(216, 13%, 10%); background-color: hsl(110,72%,82%) } // Generic.Inserted.Specific
.highlight .go { color: hsl(216, 13%, 60%) } // Generic.Output
.highlight .gp { color: hsl(216, 13%, 50%) } // Generic.Prompt
.highlight .gs { font-weight: bold } // Generic.Strong
.highlight .gu { color: hsl(216, 13%, 74%) } // Generic.Subheading
.highlight .gt { color: hsl(355, 80%, 50%) } // Generic.Traceback


// Keywords

.highlight .k, // Keyword
.highlight .kd, // Keyword.Declaration
.highlight .kp, // Keyword.Pseudo
.highlight .kr { color: hsl(282, 50%, 70%) } // Keyword.Reserved
.highlight .kc { color: hsl(32, 96%, 68%) } // Keyword.Constant
.highlight .kt { color: hsl(204, 60%, 68%); font-weight: bold } // Keyword.Type


// Names

.highlight .nc { color: hsl(168, 78%, 46%) } // Name.Class
.highlight .ni { color: hsl(282, 50%, 70%) } // Name.Entity
.highlight .ne, // Name.Exception
.highlight .nf { color: hsl(204, 60%, 68%) } // Name.Function
.highlight .nn { color: hsl(216, 13%, 50%) } // Name.Namespace
.highlight .nb, // Name.Builtin
.highlight .nt { color: hsl(353, 94%, 70%) } // Name.Tag
.highlight .na, // Name.Attribute
.highlight .no, // Name.Constant
.highlight .nd, // Name.Psuedo
.highlight .nv { color: hsl(32, 96%, 68%) } // Name.Variable
.highlight .nx { color: hsl(200,45%,70%) }  // Name.Unknown
.highlight .ow { font-weight: bold } // Operator.Word
.highlight .w, // Text.Whitespace


// Literals

.highlight .s, // Literal.String
.highlight .m, // Literal.Number
.highlight .mf, // Literal.Number.Float
.highlight .mh, // Literal.Number.Hex
.highlight .mi, // Literal.Number.Integer
.highlight .il, // Literal.Number.Integer.Long
.highlight .s1, // Literal.String.Single
.highlight .sr, // Literal.String.Regex
.highlight .mo { color: hsl(128, 66%, 72%) } // Literal.Number.Oct
.highlight .sb,  // Literal.String.Backtick
.highlight .sc, // Literal.String.Char
.highlight .sd, // Literal.String.Doc
.highlight .s2, // Literal.String.Double
.highlight .se, // Literal.String.Escape
.highlight .sh, // Literal.String.Heredoc
.highlight .si, // Literal.String.Interpol
.highlight .sx { color: hsl(355, 90%, 60%) } // Literal.String.Other
.highlight .ss { color: hsl(282, 50%, 70%) } // Literal.String.Symbol
.highlight .bp { color: hsl(216, 13%, 22%) } // Name.Builtin.Pseudo


// Variables

.highlight .vc, // Name.Variable.Class
.highlight .vg, // Name.Variable.Global
.highlight .vi { color: hsl(32, 96%, 68%) } // Name.Variable.Instance
