<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width,initial-scale=1">

    <title>{{ page.title | default: site.title }}</title>

    <meta name="description" content="{{ page.description | default: site.description }}">

    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:700|Roboto:300" rel="stylesheet">

    <link rel="stylesheet" href="/css/master.css">

</head>

<body>

    <main>

        <section id="hero">

            <div class="row">

                <div class="col-2">

                    <img src="/img/{{ page.image.src }}" alt="{{ page.image.alt }}">

                </div>

            </div>

            <div class="row">

                <div class="col-8">

                    <hgroup>

                        <h1>{{ page.title }}</h1>

                        <h3>{{ page.subtitle }}</h3>

                        <p>by {{ site.creator }}</p>

                    </hgroup>

                </div>

            </div>

        </section>

        <section id="content">

            <div class="row">

                <div class="col-12">

                    {{ content }}

                </div>

            </div>

        </section>

    </main>

    <footer>

        <div class="row jus-l">

            <div class="col-x">

                <a href="http://flexrgrid.com" target="_blank"><img src="http://flexrgrid.com/host/flexr-logo-use.svg" alt="Flexr Grid Logo" rel="external" role="button"/></a>

            </div>

        </div>

    </footer>

</body>
</html>
